root = true

[**]
end_of_line = lf
insert_final_newline = false

# TypeScript/JavaScript config
[**{.ts,.js,tsconfig.json,package.json,package-lock.json}]
indent_style = space
indent_size = 2

# Lua config
[**.lua]
indent_style = space
indent_size = 2