snippet fraction
	\frac{${1:x}}{${2:y}}

snippet x
	\cdot

snippet num
	\num[group-separator={,}]{${1:n}}

snippet sum
	\sum_{${1:i = 1}}^{${2:n}}

snippet prod
	\prod_{${1:i = 1}}^{${2:n}}

snippet combination
	{ ${1:n} \choose ${2:x} }

snippet cases
	\begin{cases}
		${1:equation} & ${2:condition}
	\end{cases}

snippet in
	$ ${1:X} \in \{ ${2} \\} $

snippet <=
	\leq

snippet >=
	\geq

snippet &&
	\cap

snippet ||
	\cup
