snippet align
	\begin{align*}
		${1}
	\end{align*}

snippet text
	\text{${1}}

snippet box
	\fbox{${1}}

snippet enum
	\begin{enumerate}
		\item {
			${1}
		}
	\end{enumerate}

snippet item
	\item{
		${1}
	}

snippet table
	\begin{tabular}{|c|c|}
		\hline
		${1:x} & ${2:y} \\
		\hline
	\end{tabular}
