snippet align
	\begin{align*}
		${1}
	\end{align*}

snippet text
	\text{${1}}

snippet box
	\fbox{${1}}

snippet enum
	\begin{enumerate}
		\item {
			${1}
		}
	\end{enumerate}

snippet item
	\item{
		${1}
	}

snippet table
	\renewcommand{\arraystretch}{${1:1.5}}
	\begin{tabular}{${2:|c|c|}}
		\hline
		${3:x} & ${4:y} \\\
		\hline
	\end{tabular}

snippet center
	\begin{center}
		${1}
	\end{center}

snippet tab
	\tab
