snippet newprob
	\section*{\textbf{Problem ${1:problem number}:} [9 pts]}
	${2:problem statement}
	\begin{enumerate}
		\item {
			${3:problem parts}
		}
	\end{enumerate}
	\subsection*{\textbf{Solution:}}

	\newpage
